@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./actiontext.scss";

trix-editor.form-control {
  height: auto;
}

#body-human {
  background: #f8f0e6;
}

.attachment__caption {
  display: none;
}
